In [74]:
import load_file as lf
import pandas as pd
#import myplot as mp


datadir = r'D:\Root.Ad.Auction\Data\1\monday\\'
datafile = 'app_bundle.gzip'

app_bundle = lf.temp_load((datadir+datafile))

In [22]:
app_bundle.describe()

                app_bundle
count              4451961
unique                   1
top     0xcab1a940441cfe29
freq               4451961

In [23]:
bid_floor = lf.temp_load((datadir+'bid_floor.gzip'))
bid_floor.describe()

          bid_floor
count  4.451961e+06
mean   2.592698e-03
std    2.724263e-03
min    0.000000e+00
25%    1.000000e-04
50%    1.740000e-03
75%    4.210000e-03
max    3.250000e-02

In [75]:
category = lf.temp_load((datadir+'category.gzip'))
category.describe()

                 category
count             4446895
unique                142
top     IAB1 IAB9 IAB9_30
freq              1001476

In [25]:
clicks = lf.temp_load((datadir+'clicks.gzip'))
clicks.describe()

         clicks
count   4451961
unique        2
top       False
freq    4250161

In [26]:
creative_size = lf.temp_load((datadir+'creative_size.gzip'))
creative_size['creative_size'].unique()

[0x0, 320x480, NaN]
Categories (2, object): [0x0, 320x480]

In [27]:
creative_type = lf.temp_load((datadir+'creative_type.gzip'))
creative_type.describe()

       creative_type
count        2246851
unique             2
top            video
freq         1282081

In [28]:
geo_zip = lf.temp_load((datadir+'geo_zip.gzip'))
geo_zip.describe()

        geo_zip
count   4398387
unique    13437
top       75220
freq      34782

In [29]:
inventory_interstitial = lf.temp_load((datadir+'inventory_interstitial.gzip'))
inventory_interstitial.describe()

       inventory_interstitial
count                 4451961
unique                      2
top                      True
freq                  3239404

In [30]:
inventory_source = lf.temp_load((datadir+'inventory_source.gzip'))
inventory_source.describe()
inventory_source['inventory_source'].unique()

[MOPUB, GOOGLE_ADX, PUBMATIC, RUBICON]
Categories (4, object): [MOPUB, GOOGLE_ADX, PUBMATIC, RUBICON]

In [39]:
platform_bandwidth = lf.temp_load((datadir+'platform_bandwidth.gzip'))
platform_bandwidth.describe()
platform_bandwidth['platform_bandwidth'].unique()

[CELL_4G, WIFI, CELL_UNKNOWN, UNKNOWN, NaN, CELL_3G, ETHERNET, CONNECTION_UNKNOWN, CELL_2G]
Categories (8, object): [CELL_4G, WIFI, CELL_UNKNOWN, UNKNOWN, CELL_3G, ETHERNET, CONNECTION_UNKNOWN, CELL_2G]

In [40]:
platform_carrier = lf.temp_load((datadir+'platform_carrier.gzip'))
platform_carrier.describe()
platform_carrier['platform_carrier'].unique()
print(platform_carrier)

        platform_carrier
0                   AT&T
1                    NaN
2                 Sprint
3                Verizon
4                   AT&T
5               T-Mobile
6               T-Mobile
7                    NaN
8                    NaN
9               T-Mobile
10              T-Mobile
11                   NaN
12                   NaN
13                  AT&T
14                   NaN
15              T-Mobile
16               Verizon
17                  AT&T
18                Sprint
19               Verizon
20                   NaN
21              T-Mobile
22                  AT&T
23                  AT&T
24                Sprint
25              T-Mobile
26                Sprint
27                  AT&T
28              T-Mobile
29                   NaN
...                  ...
4451931             AT&T
4451932              NaN
4451933              NaN
4451934              NaN
4451935              NaN
4451936              NaN
4451937              NaN
4451938         T-Mobile
4451939              NaN
4451940              NaN
4451941          Verizon
4451942         T-Mobile
4451943              NaN
4451944              NaN
4451945              NaN
4451946              NaN
4451947          Verizon
4451948              NaN
4451949              NaN
4451950              NaN
4451951             AT&T
4451952              NaN
4451953              NaN
4451954              NaN
4451955              NaN
4451956              NaN
4451957              NaN
4451958         T-Mobile
4451959              NaN
4451960              NaN

[4451961 rows x 1 columns]

In [42]:
platform_device_make = lf.temp_load((datadir+'platform_device_make.gzip'))
platform_device_make.describe()
platform_device_make['platform_device_make'].unique()
print(platform_device_make)

        platform_device_make
0                         LG
1                    Alcatel
2                        ZTE
3                     Google
4                    Samsung
5                    Samsung
6                    Samsung
7                         LG
8                    Samsung
9                    Samsung
10                  Motorola
11                       HTC
12                   Samsung
13                   Samsung
14                        LG
15                       TCL
16                   Samsung
17                   Samsung
18                  Motorola
19                   Samsung
20                       HTC
21                        LG
22                   Samsung
23                   Samsung
24                   Samsung
25                  Motorola
26                   Samsung
27                   Samsung
28                   Samsung
29                   Samsung
...                      ...
4451931              Samsung
4451932              Samsung
4451933              Samsung
4451934              Samsung
4451935                   -1
4451936               Amazon
4451937              Samsung
4451938              Samsung
4451939              Samsung
4451940              Samsung
4451941              Samsung
4451942              Samsung
4451943              Samsung
4451944              Samsung
4451945              Samsung
4451946                  TCL
4451947              Samsung
4451948              Samsung
4451949              Kyocera
4451950              Samsung
4451951                   LG
4451952              Samsung
4451953              Samsung
4451954              Samsung
4451955              Samsung
4451956              Samsung
4451957              Samsung
4451958              Samsung
4451959              Samsung
4451960             Motorola

[4451961 rows x 1 columns]

In [34]:
platform_device_model = lf.temp_load((datadir+'platform_device_model.gzip'))
platform_device_model.describe()

       platform_device_model
count                4451961
unique                  4000
top                 SM-G950U
freq                  184712

In [35]:
platform_device_screen_size = lf.temp_load((datadir+'platform_device_screen_size.gzip'))
platform_device_screen_size.describe()

       platform_device_screen_size
count                      4436868
unique                           5
top                             XL
freq                       4178447

In [36]:
rewarded = lf.temp_load((datadir+'rewarded.gzip'))
rewarded.describe()

       rewarded
count   4451961
unique        2
top       False
freq    4183870

In [37]:
segments = lf.temp_load((datadir+'segments.gzip'))
segments.describe()

       segments
count   4451961
unique   180389
top        [17]
freq    2425145

In [38]:
day_of_week = lf.temp_load((datadir+'day_of_week.gzip'))
day_of_week.describe()

       day_of_week
count      4451961
unique           1
top         sunday
freq       4451961

In [76]:
category.describe()
#cat = category.astype('str')
#cat.describe()
import numpy as np
from sklearn.impute import SimpleImputer
imp_most = SimpleImputer(strategy='most_frequent')
imp_most.fit(category['category'])

TypeError: object of type 'CategoricalDtype' has no len()

In [67]:
cat.describe()

                 category
count             4451961
unique                143
top     IAB1 IAB9 IAB9_30
freq              1001476